In [1]:
# Import Modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

# Display all of the columns
pd.set_option('display.max_columns', None)

In [2]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv('./clean_data.csv')
df.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Original Air Date,Industry,Business Description,Pitchers Gender,US Viewership,Original Ask Amount,Original Offered Equity,Valuation Requested,Got Deal,Total Deal Amount,Total Deal Equity,Deal Valuation,Number of Sharks in Deal,Investment Amount Per Shark,Equity Per Shark,Royalty Deal,Barbara Corcoran Investment Amount,Barbara Corcoran Investment Equity,Mark Cuban Investment Amount,Mark Cuban Investment Equity,Lori Greiner Investment Amount,Lori Greiner Investment Equity,Robert Herjavec Investment Amount,Robert Herjavec Investment Equity,Daymond John Investment Amount,Daymond John Investment Equity,Kevin O Leary Investment Amount,Kevin O Leary Investment Equity,Guest Investment Amount,Guest Investment Equity,Guest Name,Barbara Corcoran Present,Mark Cuban Present,Lori Greiner Present,Robert Herjavec Present,Daymond John Present,Kevin O Leary Present,Guest Present,Has_Website,Barbara Corcoran Got Deal,Mark Cuban Got Deal,Lori Greiner Got Deal,Robert Herjavec Got Deal,Daymond John Got Deal,Kevin O Leary Got Deal
0,1,AvaTheElephant,1,1,2009-08-09,2009-08-09,Health/Wellness,Ava The Elephant - Baby and Child Care,Female,4.15,50000,15.0,333333,1,50000.0,55.0,90909.0,1.0,50000.0,55.0,0.0,50000.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0,1,0,0,0,0,0
1,1,Mr.Tod'sPieFactory,1,2,2009-08-09,2009-08-09,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,Male,4.15,460000,10.0,4600000,1,460000.0,50.0,920000.0,2.0,230000.0,25.0,0.0,230000.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,230000.0,25.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0,1,0,0,0,1,0
2,1,Wispots,1,3,2009-08-09,2009-08-09,Business Services,Wispots - Consumer Services,Male,4.15,1200000,10.0,12000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0,0,0,0,0,0,0
3,1,CollegeFoxesPackingBoxes,1,4,2009-08-09,2009-08-09,Lifestyle/Home,College Foxes Packing Boxes - Consumer Services,Male,4.15,250000,25.0,1000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0,0,0,0,0,0,0
4,1,IonicEar,1,5,2009-08-09,2009-08-09,Software/Tech,Ionic Ear - Novelties,Male,4.15,1000000,15.0,6666667,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1,0,0,0,0,0,0

In [3]:
# Split target column from dataset
y = df['Got Deal']
X = df.drop(columns='Got Deal')

In [4]:
X.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Original Air Date', 'Industry', 'Business Description',
       'Pitchers Gender', 'US Viewership', 'Original Ask Amount',
       'Original Offered Equity', 'Valuation Requested', 'Total Deal Amount',
       'Total Deal Equity', 'Deal Valuation', 'Number of Sharks in Deal',
       'Investment Amount Per Shark', 'Equity Per Shark', 'Royalty Deal',
       'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present',
       'Has_Website', 'Barbara Corcoran Got Deal', 'Mark Cuban Got Deal',
       'Lori Greiner Got Deal', 'Robert Herjavec Got Deal',
       'Daymond John Got Deal', 'Kevin O Leary Got Deal'],
      dtype='object')

In [5]:
X1 = pd.DataFrame(X[[
#       'Season Number',  
       'Pitchers Gender', 
       'US Viewership', 
       'Original Ask Amount',
       'Original Offered Equity',
#        'Industry',
        ]])
#X1['Log Ask']=np.log(X['Original Ask Amount'])
X1.head()

  Pitchers Gender  US Viewership  Original Ask Amount  Original Offered Equity
0          Female           4.15                50000                     15.0
1            Male           4.15               460000                     10.0
2            Male           4.15              1200000                     10.0
3            Male           4.15               250000                     25.0
4            Male           4.15              1000000                     15.0

In [6]:
X1.shape

(1345, 4)

In [7]:
X1.dtypes

Pitchers Gender             object
US Viewership              float64
Original Ask Amount          int64
Original Offered Equity    float64
dtype: object

In [8]:
# Print first five entries for target
y.head()

0    1
1    1
2    0
3    0
4    0
Name: Got Deal, dtype: int64

In [9]:
# Encode the categorical variables using get_dummies
X1 = pd.get_dummies(X1)

In [10]:
# Preview the data
X1.head()

,US Viewership,Original Ask Amount,Original Offered Equity,Pitchers Gender_Female,Pitchers Gender_Male,Pitchers Gender_Mixed Team
0,4.15,50000,15.0,True,False,False
1,4.15,460000,10.0,False,True,False
2,4.15,1200000,10.0,False,True,False
3,4.15,250000,25.0,False,True,False
4,4.15,1000000,15.0,False,True,False

In [11]:
X1.shape

(1345, 6)

In [12]:
# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X1, y)

In [13]:
X_train.shape

(1008, 6)

In [14]:
X_test.shape

(337, 6)

In [15]:
# Scale the training data
X_train_scaled = StandardScaler().fit_transform(X_train)
X_test_scaled = StandardScaler().fit_transform(X_test)

In [16]:
# Instantiate the model
model = KNeighborsClassifier(n_neighbors=40)

In [17]:
# Train the model
model.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=40)

In [18]:
# Create predictions
y_pred = model.predict(X_test_scaled)

# Review the predictions
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1])

In [19]:
# Print confusion matrix
confusion_matrix(y_pred,y_test)

array([[ 36,  23],
       [104, 174]])

In [20]:
# Print classification report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.26      0.61      0.36        59
           1       0.88      0.63      0.73       278

    accuracy                           0.62       337
   macro avg       0.57      0.62      0.55       337
weighted avg       0.77      0.62      0.67       337